<li class="nav-item">
    <a class="nav-link" href={{data.path}} >
        @if(data.icon)
         <i class={{data.icon}}></i>
        @end
    <span class="text-capitalize ml-2" >{{data.title}}</span>
    </a>    
</li>